/* ==========================
    Roboto Google Font Link
========================= */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* ==========================
    Common CSS Styles 
========================= */
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.container {
    width: 1050px;
}
/* Default section style */
.section-title {
    font-size: 30px;
    margin-bottom: 3px;
    text-align: center;
}

.section-title-divider {
    width: 80px;
    margin-top: 0;
    margin-bottom: 40px;
}

/* ==========================
    Header Style
========================= */

header {
    background-color: #2d25a0;
    display: flex;
    justify-content: center;
    padding: 42px 0 86px 0;
    position: relative;
}
/* Football rotate 360deg and left to right */
.football-img {
    position: absolute;
    left: -100px;
    bottom: 0;
    height: 60px;
    width: 60px;
    transition: transform 5s linear, left 5s linear;
}
header:hover .football-img {
    transform: rotate(360deg);
    left: 100%;
}

/* Hero Section */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-section-title h1 {
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 27px 0;
}
.hero-section-title .btn {
    text-decoration: none;
    padding: 10px 24px;
    font-size: 16px;
    color: #fff;
    background-color: #e02c6d;
}
.hero-section-title .btn .fa-arrow-right {
    margin-left: 8px;
}
.hero-section-img img {
    width: 556px;
    height: 438px;
    transition: transform 0.9s linear;
}
.hero-section:hover .hero-section-img img {
    transform: translateX(60px);
}
.hero-section:hover header .football-img {
    transform: scale(1);
}

/* ==========================
    End Header Style
========================= */

/* ==========================
    Start Main Style
========================= */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-details,
.latest-news {
    margin-top: 70px;
    margin-bottom: 70px;
}

/* Common card style */
.card-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.card {
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.card .card-photo {
    width: 300px;
    height: 256px;
}
.card .card-body {
    margin-top: 16px;
}
.card .card-body h3 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    color: #18191f;
}
.card .card-body h3 .card-title-link {
    color: #000;
    text-decoration: none;
    font-size: 24px;
}
.card .card-body p {
    font-size: 16px;
    font-weight: 400;
    color: #6c6c6c;
    line-height: 24px;
}

/* End Common card style */

/* Match Schedule section style */

.match-schedule {
    background-color: #2d25a0;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    color: #fff;
}
.match-schedule .container {
    margin: 0 auto;
}
.match-schedule .section-title-divider {
    border: 1px solid #fff;
}
.match-schedule .schedule {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
}
.schedule .match {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: rgba(117, 117, 117, 0.041);
    box-shadow: 0 10px 20px 15px #0505051a;
    padding: 20px 40px;
    border-bottom: 2px solid #7c7c7c;
}
.match .team .team-logo {
    height: 120px;
    width: 100px;
}
.match .team-1 .team-logo {
    transform: perspective(400px) rotateY(35deg);
}
.match .team-2 .team-logo {
    transform: perspective(400px) rotateY(-35deg);
}
.match .team .team-name {
    margin: 8px;
}
.match .match-info h2 {
    font-size: 40px;
    margin: 10px;
}
.match .match-info p {
    margin: 0;
    line-height: 24px;
}

/* End Match Schedule style */

/* Latest News section style */
.latest-news .section-title-divider {
    border: 1px solid #2d25a0;
}

/* Latest News section style End*/

/* ==========================
    End Main Style
========================= */

/* ==========================
    Start Footer Style
========================= */
footer {
    text-align: center;
    padding: 100px;
}
/* Footer logo */
footer .footer-logo {
    width: 484px;
    height: 110px;
}

/* Footer Social Media Icon */
.social-media-icon {
    margin-top: 20px;
    margin-bottom: 40px;
}
footer .social-media-icon .social-media-link {
    margin: 0 7px;
    background: #e7e7e8;
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 16px;
}
footer .social-media-icon .social-media-link i {
    color: #969bab;
}

/* Copyright */
footer .footer-copyright {
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

/* ==========================
    Tablet Device style
========================= */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container {
        width: 100%;
    }

    /* -------- Header --------*/
    header {
        padding: 60px 15px;
    }
    /* Hero section */
    .hero-section-title h1 {
        font-size: 44px;
    }
    .hero-section-img img {
        width: 420px;
        height: 428px;
    }

    /* -------- Main --------*/

    /* Common Card Group */
    .card-group {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 30px;
    }
    .card .card-photo {
        width: 100%;
    }

    /* Match Schedule */
    .schedule .match {
        justify-content: space-between;
        padding: 20px;
    }
    .match .match-info p {
        font-size: 14px;
    }

    /* Latest News */
    .latest-news .card-group {
        grid-template-columns: 1fr;
    }
    .latest-news .card {
        display: flex;
        align-items: center;
    }
    .latest-news .card .card-photo {
        width: 300px;
        height: 200px;
    }
    .latest-news .card .card-body {
        margin-left: 20px;
    }
    /* -------- Footer --------*/
    footer {
        padding: 50px;
    }
}
/* ==========================
    Mobile Device style
========================= */
@media only screen and (max-width: 688px) {
    .container {
        width: 100%;
    }
    /* -------- Header --------*/
    header {
        padding: 60px 15px;
    }
    /* Hero section */
    .hero-section {
        flex-wrap: wrap;
    }
    .hero-section-title h1 {
        font-size: 44px;
    }
    .hero-section-img img {
        width: 100%;
        height: 259px;
        margin-top: 50px;
    }
    /* -------- Main --------*/

    /* Common Card Group */
    .card-group {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 15px;
    }
    .card .card-photo {
        width: 100%;
    }

    /* Match Schedule */
    .match-schedule .schedule {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 24px;
    }
    .schedule .match {
        justify-content: space-between;
        padding: 20px;
    }

    /* -------- Footer --------*/
    footer {
        padding: 0;
    }

    footer .footer-logo {
        width: 200px;
        height: 100px;
    }
}
